.pageHeader {
  text-align: center;
  font-size: 2rem;
  background-color: lightgrey;
  width: 100vw;
  padding: .5rem;
}

.search {
  border-radius: 1rem;
  width: 20rem;
  height: 2rem;
  border-style: none;
}

.icon {
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
}
